<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<style type="text/css">
			form div {
				height: 40px;
				line-height: 40px;
			}

			form div:nth-child(4) {
				height: auto;
			}

			form div span:first-child {
				display: inline-block;
				width: 100px;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<form action="http://www.baidu.com">
				<div>
					<span>姓名：</span>
					<span>
						<input type="text" v-model="uname">
					</span>
				</div>
				<div>
					<span>性别：</span>
					<span>
						<input type="radio" id="male" v-model="gender" value="1">
						<label for="male">男</label>
						<input type="radio" id="female" v-model="gender" value="2">
						<label for="female">女</label>
					</span>
				</div>
				<div>
					<span>爱好：</span>
					<input type="checkbox" id="ball" v-model="hobby" value="1">
					<label for="ball">篮球</label>
					<input type="checkbox" id="sing" v-model="hobby" value="2">
					<label for="sing">唱歌</label>
					<input type="checkbox" id="code" v-model="hobby" value="3">
					<label for="code">写代码</label>
				</div>
				<div>
					<span>职业：</span>
					<select v-model="occupation" multiple="true">
						<option value="1">请选择职业...</option>
						<option value="2">教师</option>
						<option value="3">软件工程师</option>
						<option value="4">律师</option>
					</select>
				</div>
				<div>
					<span>个人简介：</span>
					<textarea v-model="desc"></textarea>
				</div>
				<div>
					<input type="submit" value="提交" @click.prevent="handle">
				</div>
			</form>
		</div>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script type="text/javascript">
			/*
      表单基本操作
    */
			var vm = new Vue({
				el: '#app',
				data: {
					uname: 'lisi',
					gender: 1,
					hobby: ['1'],
					occupation: [2, 3],
					desc: '你好'
				},
				methods: {
					handle: function() {
						// console.log(this.uname)
						// console.log(this.gender)
						// this.hobby.push('2')
						// console.log(this.hobby.toString())
						// console.log(this.occupation.toString())
						console.log(this.desc.toString())
					}
				}
			});
		</script>
	</body>
</html>
