<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="test1">
			<span> Multiline message is: </span>
			<p style="white-space: pre-line;"> {{message}}</p>
			<br />
			<textarea v-model="message"></textarea>
		</div>

		<div id="example-6">
			<select v-model="selected" multiple style="width: 50px;">
				<option>A</option>
				<option>B</option>
				<option>C</option>
			</select>
			<br>
			<span>Selected: {{ selected }}</span>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script>
			new Vue({
				el: "#test1",
				data: {
					message: ''
				}
			})

			new Vue({
				el: '#example-6',
				data: {
					selected: []
				}
			})
		</script>
	</body>

</html>